<H1>Todo</H1>
<div class="container">
    <div class="alert alert-warning" *ngIf="todoForm.dirty && todoForm.invalid">Enter valid values</div>
    <div class="alert alert-warning" *ngIf="todoForm.dirty && description.invalid">Enter atlest 4 charaters in Description </div>
    <div class="alert alert-warning" *ngIf="todoForm.dirty && targetDate.invalid">Enter valid Target Date</div>
    <form (ngSubmit)="!todoForm.invalid && saveTodo()" #todoForm="ngForm">
        <fieldset class="from-group">
            <label>Description</label>
            <input type="text" [(ngModel)]="todo.description " #description="ngModel" class="form-control" name="Description"
                required="required" minlength="4">
        </fieldset>

        <fieldset class="from-group">
            <label>Target Date</label>
            <input type="date" [ngModel]="todo.targetDate | date: 'yyyy-MM-dd'"
                (ngModelChange)="todo.targetDate = $event" #targetDate="ngModel" class="form-control" name="TargetDate" required="required">
        </fieldset>
        <div>
            <button type="submit" class="btn btn-success">Save</button>
        </div>
    </form>
</div>